.MyCartTable{
    background-color: white;
}

.MyCartTable-Body{
    background-color: palegreen;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th{
    background: black;
    color: white;
    height:18px;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.Item-Description{
    display: flex;
    flex-direction: column;
    color:rgb(0,0,0,0.3);
}
.Name-Description{
    display:flex;
    flex-direction: row;
    color:rgb(0,0,0);
}